body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  width: 1200px;
  margin: auto;
}

.main-content {
  color: #000000;
  background-color: #25383f;
  background-image: url("../img/background-photo.jpg");
  background-position-y: -29px;
  background-repeat: no-repeat;
  line-height: 26px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-content-hotels {
  color: #000000;
  text-align: left;
  background-color: #25383f;
  background-image: url("../img/filter-background.jpg");
  background-position-x: center;
  background-position-y: -240px;
  background-repeat: no-repeat;
  background-size: 1200px, 560px, cover;
  object-fit: contain;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  line-height: 21px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header-logo {
  width: 140px;
  height: 70px;
  margin-left: 530px;
  position: absolute;
}

.main-navigation {
  display: flex;
  flex-direction: column;
 /* align-items: center; */
  color: #000000;
  background: #ffffff;
}

.site-navigation {
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  line-height: 26px;
}

.site-navigation li:nth-child(1){
  text-align: left;
  padding-left: 72px;
}

.site-navigation li:nth-child(2){
  text-align: left;
  padding-left: 72px;
  letter-spacing: 0.2px;
}

.site-navigation li:nth-child(3) {
  margin-left: 242px;
  text-align: right;
  padding-right: 74px;
  letter-spacing: 0.5px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation li {
  display: block;
  width: 167px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation .active {
  color: #766357;
}

.site-navigation a {
  color: #000000;
  padding: 0;
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.welcoming-images {
  min-height: 505px;
}

.sedona {
  padding-top: 451px;
  background-image: url("../img/welcome.svg");
  background-size: 460px 355px;
  background-position-x: center;
  background-position-y: 75px;
  background-repeat: no-repeat;
}

.polygon {
  height: 57px;
  background-image: url("../img/polygon.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.welcome {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  line-height: 26px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 50px;
}

.welcome b {
  width: 440px;
  font-size: 21px;
  display: block;
  margin: auto;
  margin-bottom: 28px;
}

.welcome p {
  margin: 0;
  color: #333333;
}

.list-of-causes {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
  background-color: #ffffff;
}

.list-of-causes h3 {
  font-size: 21px;
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: 21px;
  width: 200px;
}

.list-of-causes p {
  margin-top: 20px;
}

.list-of-causes ul {
  list-style: none;
}

.item-first-cause,
.item-second-cause {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}

.item-first-cause {
  order: 0;
}

.item-accommodation-food-souvenirs {
  order: 1;
}

.item-second-cause,
.item-another-causes {
  order: 3;
}

.first-cause {
  display: block;
  margin: 0 auto;
  margin-top: 47px;
  width: 280px;
}

.list-accommodation-food-souvenirs {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: #333333;
  padding-bottom: 68px;
}

.list-accommodation-food-souvenirs h3 {
  margin-top: 30px;
  margin-bottom: 22px;
  color: #000000;
}

.item-accommodation {
  display: block;
  width: 255px;
  padding-left: 71px;
  padding-top: 60px;
}

.image-accommodation {
  display: block;
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 72px;
  margin: auto;
}

.item-food {
  display: block;
  width: 285px;
  padding-top: 62px;
  padding-left: 10px;
}

.image-food {
  display: block;
  background-image: url("../img/icon-3.svg");
  width: 74px;
  height: 70px;
  margin: auto;
}

.item-souvenirs {
  display: block;
  width: 275px;
  padding-right: 62px;
  padding-top: 56px;
}

.image-souvenirs {
  background-image: url("../img/icon-2.svg");
  display: block;
  width: 64px;
  height: 76px;
  margin: auto;
}

.second-cause {
  display: block;
  margin: auto;
  margin-top: 47px;
  width: 303px;
}

.list-another-causes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000000;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 60px;
}

.list-another-causes h3 {
  font-size: 21px;
  width: 150px;
  margin: auto;
  margin-top: 0;
}

.list-another-causes p {
  margin-top: 24px;
  margin-bottom: 0;
}

.list-another-causes .description-causes{
  margin-top: 20px;
  color: #333333;
}

.item-third-cause {
  display: block;
  width: 210px;
  padding-left: 95px;
}

.item-fourth-cause {
  display: block;
  margin-left: 20px;
  width: 265px;
}

.item-fifth-cause {
  display: block;
  width: 250px;
  padding-right: 75px;
}

.searching {
  background-color: #ffffff;
}

.searching div {
  width: 436px;
  margin: auto;
  padding-top: 50px;
}

.searching b {
  font-size: 30px;
  line-height: 36px;
}

.searching p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-top: 24px;
  margin-bottom: 47px;
}

.searching label{
  line-height: 26px;
}

.dates-block label{
   padding-top: 4px;
   letter-spacing: 0.5px;
 }

@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0px);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.searching-modal {
  z-index: 0;
  position: absolute;
  background-color: #ffffff;
  width: 570px;
  left: 50%;
  margin-left: -285px;
  display: block;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  line-height: 26px;
}

.bounce {
  animation: bounce 0.6s;
}

.modal-eror {
  animation: shake 0.6s;
}

.searchingButton b {
  font-size: 21px;
  line-height: 26px;
}

.searchingButton {
  position: relative;
  z-index: 1;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: #766357;
  width: 570px;
}

.searchingButton:hover {
  background-color: #604e43;
}

.searchingButton:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hidden {
  display: none;
}

.data-of-hotel {
  width: 460px;
  margin: auto;
  margin-top: 55px;
  line-height: 26px;
  font-weight: bold;
}

.data-of-hotel input {
  border-width: 0px;
  background-color: #f2f2f2;
  font-size: inherit;
  font-weight: inherit;
  line-height: 26px;
}

.data-of-hotel input:hover+.calendar-button {
  background-color: #ebebeb;
}

.data-of-hotel input:focus+.calendar-button {
  background-color: #ffffff;
}

.data-of-hotel input[type="text"]::placeholder {
  color: #000000;
}

.searching-modal p {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.adults {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 226px;
}

.children {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.dates {
  width: 335px;
  height: 38px;
  margin: 0;
  padding: 0;
  text-transform: inherit;
  padding-left: 13px;
}

.dates:hover {
  background-color: #ebebeb;
}

.dates:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.count-of-people {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
}

.calendar {
  left: 483px;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border-width: 0px;
}

.calendar-button {
  position: absolute;
  background-color: #f2f2f2;
}

.calendar-button::before {
  content: "";
  position: absolute;
  background-image: url("../img/calendar.svg");
  bottom: 0px;
  left: 0px;
  height: 22px;
  width: 21px;
  opacity: 0.3;
}

.calendar-button:hover::before {
  content: "";
  position: absolute;
  background-image: url("../img/calendar.svg");
  height: 22px;
  width: 21px;
  opacity: 1;
}

.calendar-button:active::before {
  content: "";
  position: absolute;
  background-image: url("../img/calendar-active.svg");
  height: 22px;
  width: 21px;
  opacity: 1;
}

.dates-block-race .calendar{
  bottom: 312px;
  left: 483px;
}

.dates-block-departure .calendar{
  bottom: 245px;
  left: 483px;
}

.buttons-less-more button {
  margin: 0;
  padding: 0;
  border-width: 0px;
  background-color: #f2f2f2;
}

.buttons-less-more input {
  margin: 0;
  padding: 0;
  text-align: center;
}

.buttons-less-more {
  display: flex;
}

.less,
.more {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
}

.less::before,
.more::before,
.more::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  margin-left: -6px;
  background-color: #a9a9a9;
}

.more::after {
  transform: rotate(90deg);
}

.less:hover::before,
.more:hover::before,
.more:hover::after {
  background-color: #000000;
}

.less:active::before,
.more:active::before,
.more:active::after {
  background-color: #81b3d2;
}

.adults .less::before{
  left: 187px;
}

.children .less::before{
  left: 420px;
}

.adults .more::before,
.adults .more::after{
  left: 262px;
}

.children .more::before,
.children .more::after{
  left: 495px;
}

.button-search {
  width: 460px;
  border: 0;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 56px;
  margin-bottom: 57px;
  font-size: 21px;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
 background-color: #f2f2f2;
}

.map iframe{
  border: none;
}

.information-of-hotel {
  display: flex;
  margin-top: 28px;
  margin-bottom: 30px;
  color: #ffffff;
  justify-content: space-between;
}

.information-of-hotel legend {
  font-size: 16px;
}

.infrastructure-and-type {
  display: flex;
}

.infrastructure-and-type li {
  padding-top: 4px;
}

.filter fieldset {
  border-width: 0px;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-weight: bold;
  letter-spacing: 0.2px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter li {
  margin-top: 25px;
}

.filter label {
  padding-left: 40px;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 21px;
  display: block;
  color: #ffffff;
}

.infrastructure label::before,
.type-of-hotels label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: -2px;
  background-image: url("../img/checkbox-off.svg");
}

.infrastructure input[type="checkbox"]:focus+label::before,
.type-of-hotels input[type="checkbox"]:focus+label::before {
  border-bottom: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
}

.infrastructure input[type="checkbox"]:disabled+label::before,
.type-of-hotels input[type="checkbox"]:disabled+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: -2px;
  background-image: url("../img/checkbox-off-disabled.svg");
  fill: #6a6a6a;
}

.infrastructure input[type="checkbox"]:focus+label::after,
.type-of-hotels input[type="checkbox"]:focus+label::after {
  border-bottom: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: -2px;
  background-image: url("../img/checkbox-on.svg");
  fill: #fff;
}

.infrastructure input[type="checkbox"]:disabled:checked+label::after,
.type-of-hotels input[type="checkbox"]:disabled:checked+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: -2px;
  background-image: url("../img/checkbox-on-disabled.svg");
  fill: #6a6a6a;
}

.filter .infrastructure {
  margin-left: 71px;
}

.filter .type-of-hotels {
  margin-left: -230px;
}

.filter .value-and-button {
  margin-right: 70px;
}

.price-controls {
  width: 315px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
}

.price-controls label {
  padding-left: 65px;
  display: flex;
  align-items: center;
  line-height: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.price-controls input {
  width: 58px;
  margin: 0;
  font: inherit;
  background: none;
  border: none;
  margin-left: 3px;
  color: #ffffff;
}

.price-controls input[type="text"]::placeholder {
  color: #ffffff;
}

.min-price::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 155px;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls .scale {
  margin-top: 18px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 79%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 5px;
  height: 5px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 5px;
  padding-left: 32px;
  padding-right: 34px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.hotels {
  background-color: #ffffff;
  color: #000000;
  margin-top: 30px;
}

.hotels-found {
  display: flex;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  line-height: 18px;
  justify-content: space-between;
}

.hotels-found p {
  margin-top: 0;
  margin-bottom: 0;
}

.hotels-found ul {
  margin-top: 0;
  margin-bottom: 0;
}

.hotels-found b {
  font-size: 21px;
  line-height: 26px;
}

.sort {
  padding-top: 5px;
  margin-left: 50px;
}

.list-sort {
  list-style: none;
  display: flex;
  padding-top: 5px;
  padding-left: 0;
  margin-left: 5px;
}

.list-sort li {
  margin-left: 35px;
}

.list-sort a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.list-sort a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.list-sort a:active {
  color: #000000;
  opacity: 1;
  border-bottom: none;
}

.list-sort .active {
  color: #81b3d2;
  border-bottom: none;
}

.founf-number {
  line-height: 26px;
}

.information-of-sort {
  display: flex;
  line-height: 18px;
}

.sort-up-down {
  display: flex;
  margin-top: 6px;
  margin-right: 73px;
  width: 34px;
  justify-content: space-between;
}

.up-down path {
  fill: #cacaca;
}

.up-down-active path {
  fill: #81b3d2;
}

.up-down:hover path {
  fill: #000000;
}

.up-down:active path {
  fill: #81b3d2;
}

.list-hotels {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.list-hotels li {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.list-hotels img {
  height: 90px;
  width: 135px;
  margin-left: 72px;
}

.list-hotels p {
  padding: 0;
  margin: 0;
}

.type-and-price {
  display: flex;
  width: 182px;
  justify-content: space-between;
}

.some-information-hotel {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.some-information-hotel h3 {
  padding: 0;
  margin: 0;
  margin-top: -4px;
  font-size: 21px;
  letter-spacing: 0.2px;
  line-height: 26px;
  margin-bottom: 6px;
  color: #000000;
  width: 450px;
}

.some-information-hotel h3:hover {
  color: #81b3d2;
}

.some-information-hotel h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.name-img-rating {
  display: flex;
  width: 891px;
  justify-content: space-between;
}

.img-rating {
  background-image: url("../img/star.svg");
  width: 18px;
  height: 18px;
  position: relative;
}

.first-hotel .img-rating {
  width: 89px;
  background-repeat: space;
}

.second-hotel .img-rating {
  width: 64px;
  background-repeat: space;
}

.third-hotel .img-rating {
  width: 40px;
  background-repeat: space;
}

.buttons-for-hotel {
  margin-top: 14px;
  display: flex;
  width: 891px;
  justify-content: space-between;
  align-items: bottom;
}

.more-information {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  background-color: #81b3d2;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 3px;
}

.more-information:hover {
  background-color: #669ec0;
}

.more-information:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.booking {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  background-color: #766357;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  background-color: #f2f2f2;
  padding-top: 3px;
  padding-bottom: 3px;
  align-items: bottom;
  line-height: 21px;
  text-align: center;
  color: #666666;
}

.main-footer {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  opacity: 1;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-content .main-footer {
  position: absolute;
  top: 2643px;
  width: 1200px;
  opacity: 0.9;
}

.main-content-hotels .main-footer{
  padding-top: 27px;
}


.visit-sedona {
  margin-left: 132px;
  font-size: 21px;
}

.social-networks {
  margin-left: 257px;
  display: flex;
  align-items: center;
}

.list-social-networks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  justify-content: space-between;
}

.social-network:hover {
  background-color: #669ec0;
}

.social-network:active {
  background-color: #669ec0;
}

.social-network:active path {
  opacity: 0.3;
}

.social-networks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.html-academy p {
  margin: 0;
  padding-right: 7px;
}

.html-academy svg{
  padding-top: 6px;
}

.html-academy-a:hover path {
  fill: #81b3d2;
}

.html-academy-a:active path {
  fill: #bdbbbc;
}

.main-footer .html-academy {
  display: flex;
  margin-left: 227px;
  margin-right: 90px;
  align-items: center;
}
