@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body{
 margin: 0;
 padding: 0;

 font-family: "PT Sans", Arial, sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: 400;
 color: #000000;
 text-transform: uppercase;

 text-align: center;

 background-color: #f2f2f2;

 width: 1200px;
 margin: auto;
}

.main-content{
  color: #000000;

  background-color: #ffffff;
  background-image: url("img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  box-shadow: 0 5px 15px 0 rgba( 0, 1, 1, 0.2);
}

a{
  text-decoration: none;
}

.visually-hidden{
 position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.main-header-logo{
  width: 140px;
  height: 70px;
  position: absolute;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000000;

  background: #ffffff;
}

.site-navigation{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  width: 100%;
}

.site-navigation div{
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a{
  display: block;

  padding: 22px 73px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #eee;
}

.button{
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.searching .button{
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  padding-top: 35px;
  padding-bottom: 33px;

  background-color: #766357;

  width: 570px;
}

.button-search{
  width: 460px;
  height: 60px;

  color: #ffffff;

  background-color: #81b3d2;
  margin-top: 55px;
}

.causes ul,
.accommodation-food-souvenirs ul,
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.welcome{
  width: 100%;

  background-color: #ffffff;

  color: #000000;
  line-height: 26px;

  margin: 0;
  padding-top: 60px;
  padding-bottom: 55px;
  margin-top: 510px;
}

.welcome span{
  width: 440px;

  font-size: 21px;

  display: block;

  margin: auto;
  margin-bottom: 40px;
}

.causes{
  color: #ffffff;

  background-color: #81b3d2;

}

.causes li{
  display: flex;
  align-items: center;
}

.item-first-cause,
.item-second-cause {
  display: flex;
  justify-content: space-between;
}

.another-causes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  color: #000000;

  background-color: #eeeeee;

  padding-top: 50px;
  padding-bottom: 64px;
}

.first-cause{
  display: block;

  margin: auto;

  width: 280px;
}

.second-cause{
  display: block;

  margin: auto;

  width: 300px;
}

.third-cause{
  display: block;

  width: 210px;
  padding-left: 95px;
}

.fourth-cause{
  display: block;

  width: 260px;

}

.fifth-cause{
  display: block;

  width: 245px;
  padding-right: 75px;
}

.accommodation-food-souvenirs ul{
   display: flex;
   justify-content: space-between;

   padding-top: 50px;
   padding-bottom: 65px;
 }

.accommodation{
   display: block;

   width: 255px;

   padding-left: 75px;
 }

.food {
  display: block;

  width: 285px;
}

.souvenirs{
  display: block;

  width: 275px;

  padding-right: 65px;
}

.searching div{
  width: 435px;

  margin: auto;
  padding-top: 60px;
}

.searching  b{
  font-size: 30px;
  line-height: 36px;
}

.searching p{
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 60px;
}

.searching-modal{
  position: absolute;

  background-color: #ffffff;
  width: 570px;

  left:50%;
  margin-left: -285px;

}

.data-of-hotel {
  width: 460px;
  margin: auto;
  margin-top: 55px;
}

.data-of-hotel input{
  border-width: 0px;
  background-color: #eee;
}

.searching-modal p{
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
}

.adults {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 235px;
}

.children{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 180px;
}

.dates {
  width: 345px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.count-of-people {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.buttons-less-more button{
  margin: 0;
  padding: 0;
  border-width: 0px;
  background-color: #eee;
}

.buttons-less-more input{
  margin: 0;
  padding: 0;
}

.less,
.more{
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}


.main-footer{
  display: flex;
  color: #000000;

  background-color: #ffffff;

  opacity: 0.9;
}

.visit-sedona{
  margin-left: 130px;
}

.social-networks{
  margin-left: 255px;
}

.html-academy{
  margin-left: 230px;
  margin-right: 100px;
}
